ml/models/*.h5 filter=lfs diff=lfs merge=lfs -text
ml/models/*.pth filter=lfs diff=lfs merge=lfs -text
ml/models/*.pt filter=lfs diff=lfs merge=lfs -text
ml/models/*.onnx filter=lfs diff=lfs merge=lfs -text
