.header{
    color: white;
    font-style: italic;
    font-family: 'Inter', sans-serif;
    font-size:2rem;
    margin-bottom:2.5rem;
    padding: 1rem 0;
}
.hero{
    margin-top:2.5rem;
    padding: 1rem 2rem;
}
.hero div{
    color:white;
    font-style:italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 4rem;
}
.hero p{
    color: rgb(163, 158, 158);
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    margin-top: 1.5rem;
    line-height: 1.7;
}
.hero h1{
    color: rgb(163, 158, 158);
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    margin-top: 1.5rem;
    line-height: 1.7;
}